node_modules
yarn.lock
.next
.yarn

.git/
.gitignore
.dockerignore
Dockerfile
Dockerfile.*
docker-compose.yml
local_certificate/
out/
gcloud-service-account.json

npm-debug.log
README.md
